.footer {
  background-image: url('https://cdn.builder.io/api/v1/image/assets/TEMP/0052b51e86b3f95416e210dc9aae4b6282655bd638403f6702d8ff00999a15e0?placeholderIfAbsent=true&apiKey=170b590e187e4beabe3f2ef7100234b5');
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.footer-logo img {
  width: 150px;
  margin-left: 1px;
}

.footer-direction-info {
  position: relative;
  top: 10px;
  text-align: left;
  text-decoration: none;
}

.footer-direction-info a {
  text-decoration: none;
}

/* Make 'Directions' and 'Contact' link bold */
.footer-direction-info a[href="#directions"],
.footer-contact-info a[href="#contact"] {
  font-weight: bold;
  color: white;
}

.footer-links a {
  position: relative;
  top: 20px;
  color: white;
  text-decoration: none;
  margin: 10px 20px;
  display: block;
  text-align: left;
}

.footer-contact-info {
  position: relative;
  top: 10px;
  color: white;
  text-decoration: none;
  margin: 5px 0;
  display: block;
  text-align: left;
}

.footer-contact-info a {
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 2px 0;
  
  font-size: 14px;
}

/* Ensure footer columns stack on smaller screens */
.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

